In [12]:
import pandas as pd
features = pd.read_csv("./OF_Features/reps.csv", header=None)
labels = pd.read_csv("./OF_Features/labels.csv", header=None, names=["drop", "id"])
race_table = pd.read_csv("./binned_id_gender_ethnicity.csv")

In [13]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,-0.015975,0.061343,-0.169915,0.075664,0.080860,0.174134,-0.017157,-0.105687,0.071876,-0.029301,...,0.145569,0.129029,0.089958,-0.133423,-0.031034,-0.003381,-0.000501,0.095188,0.052924,0.061916
1,-0.083042,0.155064,-0.026929,-0.128313,0.002890,0.146170,-0.043166,0.020272,-0.146851,0.085454,...,0.108734,0.085527,0.075933,-0.095799,-0.008750,-0.023784,0.015153,0.029661,-0.078988,-0.013881
2,0.013870,0.185305,0.010482,-0.127374,0.080616,0.020505,0.014181,-0.103239,0.003175,0.028015,...,-0.102061,0.045702,0.023531,0.004467,-0.016138,0.034176,0.030275,0.086337,0.009568,-0.062744
3,0.044587,-0.058128,-0.112380,-0.075394,0.134542,0.067473,-0.025369,-0.002917,-0.155703,-0.118631,...,-0.012169,0.195434,-0.107325,0.021370,0.006799,0.036422,-0.091522,0.028600,-0.079282,-0.081262
4,0.066164,0.137578,-0.023866,0.052424,-0.012129,0.139718,-0.043587,-0.064435,-0.147255,0.022006,...,0.173739,0.143175,0.043278,-0.179890,-0.000041,-0.062348,0.074416,0.071871,0.201533,0.078662

In [14]:
labels.head()

   drop                                                 id
0     1  ../../shared-folder/aligned-container/aligned/...
1     1  ../../shared-folder/aligned-container/aligned/...
2     1  ../../shared-folder/aligned-container/aligned/...
3     1  ../../shared-folder/aligned-container/aligned/...
4     1  ../../shared-folder/aligned-container/aligned/...

In [15]:
race_table.head()

   Unnamed: 0           id  gender  ethnicity
0           0   3211298559       1  caucasian
1           1  82733984485       1  caucasian
2           2  99029428429       0  caucasian
3           3  71174220620       1  caucasian
4           4  47408331317       1  caucasian

In [ ]:
result = pd.concat([labels, features], axis=1)
result["id"] = result["id"].apply(lambda x: x.split("/")[-1][:-4]) 
result['id'] = result['id'].apply(pd.to_numeric)

joined = pd.merge(race_table, result, how='right', on="id")
print("dropping ", joined["gender"].isnull().sum(), "NaNs")
joined =  joined.dropna()
joined['ethnicity'].value_counts()

dropping  61977 NaNs

caucasian     608738
hispanic      213177
southasian     66765
eastasian      36009
african         5282
Name: ethnicity, dtype: int64

## Dropping a lot of rows to create a uniform distribution

In [ ]:
cauc = joined[joined['ethnicity'] == 'caucasian'].sample(568738)
hisp = joined[joined['ethnicity'] == 'hispanic'].sample(173177)
east = joined[joined['ethnicity'] == 'eastasian'].sample(0)
sout = joined[joined['ethnicity'] == 'southasian'].sample(26765)
afri = joined[joined['ethnicity'] == 'african'].sample(5282)

In [ ]:
uniform = joined.drop(cauc.index, axis=0)
uniform = uniform.drop(hisp.index, axis=0)
uniform = uniform.drop(sout.index, axis=0)
uniform = uniform.drop(east.index, axis=0)
uniform = uniform.drop(afri.index, axis=0)
uniform['ethnicity'].value_counts()

In [ ]:
uniform.to_csv('uniform_table.csv')

In [32]:
uniform = pd.read_csv('uniform_table.csv')

In [42]:
uniform = uniform.drop(['Unnamed: 0','Unnamed: 0.1', 'drop'], axis=1)
uniform.to_csv('uniform_table.csv')